@import controllers.BDDpackage.Utilisateur
@import controllers.BDDpackage.Recurrence
@import controllers.BDDpackage.BDD
@import controllers.BDDpackage.MonthlyExpenseForCat




@(titre: String, user : Utilisateur, idRecurrence : Integer)

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

<script type="text/javascript">
        var catfromscala = [@for(cat <- ((HomeController.DB).getAllCategories())){
            {catid:'@(cat.id)', catname:'@(cat.nom)'},
            }];


        var souscatfromscalawithexpense = [@for(cat <- ((HomeController.DB).getAllCategories())){
            {catname:'@(cat.nom)', subcat:[
                    @for(subcat <- ((HomeController.DB).get_Sous_categorie(cat.id))){
                    {subcatid: '@(subcat.id)', subcatname:'@(subcat.nom)', subcatexpense: '@((HomeController.DB).getSoldeBySousCategorie((HomeController.getIdSession()), subcat.id))'},

                }

            ]},
        }];

        var monthlyExpenseByCat = [@for(cat <- ((HomeController.DB).getSoldeForOneYearOfAllCategorie((HomeController.getIdSession())))){
            {catIdtutu:'@(cat.IDCat)', listCatExp:[@for(caVaMarcher <- cat.ListmonthlyExpense) {
                    {nameMonth: '@(caVaMarcher.nameMonth)', solde:'@(caVaMarcher.solde)'},
                    }
                ]},
            }];

        var names = [];
        var data = [];
        var data2 = [];
        var names2 = [];

        var myChart;
        var myChart2;

</script>

<script type="text/javascript">


</script>

<script type="text/javascript">
        function updateSubcatArrays() {

            data = [];
            names = [];

            var sel = document.getElementById("catSelStats");
            var selected_categorie = sel.options[sel.selectedIndex].text;

           for (var cat in souscatfromscalawithexpense){
               if(souscatfromscalawithexpense[cat].catname == selected_categorie){

                   for(var souscat in souscatfromscalawithexpense[cat].subcat){
                       if(souscatfromscalawithexpense[cat].subcat[souscat].subcatexpense > 0){
                           data.push(souscatfromscalawithexpense[cat].subcat[souscat].subcatexpense);
                           names.push(souscatfromscalawithexpense[cat].subcat[souscat].subcatname);
                       }
                    }
                }
           }
        }

</script>


<script type="text/javascript">
        function updateSubcatArrays2() {

            data2 = [];
            names2 = [];

            var sel = document.getElementById("catSelStats");
            var selected_categorie = sel.options[sel.selectedIndex].value;

            for (var cat in souscatfromscalawithexpense){
                if(monthlyExpenseByCat[cat].catIdtutu === selected_categorie){

                    for(var souscat in monthlyExpenseByCat[cat].listCatExp){
                        data2.push(monthlyExpenseByCat[cat].listCatExp[souscat].solde);

                        names2.push(monthlyExpenseByCat[cat].listCatExp[souscat].nameMonth);
                    }
                }
            }
        }
</script>


<script type="text/javascript">
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
</script>


<script type="text/javascript">
        function displayExpenseByCat(){
            if(myChart2 != null){
                myChart2.destroy();
            }
            updateSubcatArrays();
            updateSubcatArrays2();

            var ctx = document.getElementById('myChart2').getContext('2d');
            var colors;
                myChart2 = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: names,
                        datasets: [{
                            data: data,
                            backgroundColor: [
                                getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(),
                                getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()
                            ],
                            borderWidth: .2
                        }]
                    },
                    options: {
                        responsive: true
                    }
                });

            // chart colors
            var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];
            /* large line chart */
            var chLine = document.getElementById("chLine2");
            var chartData = {
                labels: names2,
                datasets: [{
                    data: data2,
                    backgroundColor: colors[0],
                    borderColor: colors[0],
                    borderWidth: 4,
                    pointBackgroundColor: colors[0]

                }],
                options: {
                    responsive: true
                }
            };

            if (chLine) {
                new Chart(chLine, {
                    type: 'bar',
                    data: chartData,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            }
        }
</script>


<script type="text/javascript">
        function displayExpenseOverall(){
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [@for(cat <- ((HomeController.DB).getAllCategories())){
                        @if(((HomeController.DB).getSumExpensesOnSpecialPeriodCategorie((HomeController.getIdSession()),cat.id,idRecurrence)) != 0){
                        '@(cat.getName())',}
                        }],
                    datasets: [{
                        data: [@for(cat <- ((HomeController.DB).getAllCategories())){
                            @if(((HomeController.DB).getSumExpensesOnSpecialPeriodCategorie((HomeController.getIdSession()),cat.id,idRecurrence)) != 0){

                            @((HomeController.DB).getSumExpensesOnSpecialPeriodCategorie((HomeController.getIdSession()),cat.id,idRecurrence)),}
                            }],
                        //[12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(),
                            getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()
                        ],

                        borderWidth: .2
                    }]
                },
                options: {
                    responsive: true
                }
            });


            // chart colors
            var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];

            /* large line chart */
            var chLine = document.getElementById("chLine");
            var chartData = {
                labels: [@for(laThuneFrr <- ((HomeController.DB).getSoldeOverAllOneYear((HomeController.getIdSession())))){
                    '@(laThuneFrr.nameMonth)',
                    }],
                datasets: [{
                    data: [@for(laThuneFrr <- ((HomeController.DB).getSoldeOverAllOneYear((HomeController.getIdSession())))){
                        '@(laThuneFrr.solde)',
                        }],
                    backgroundColor: colors[0],
                    borderColor: colors[0],
                    borderWidth: 4,
                    pointBackgroundColor: colors[0]

                }]
            };

            if (chLine) {
                new Chart(chLine, {
                    type: 'bar',
                    data: chartData,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            }
        }
</script>

<script type="text/javascript">
        function displayCatStats(){
            var catSel = document.getElementById("catSelStats");
            var keys = Object.keys(catfromscala);
            for (var key in keys){
                var opt = document.createElement("OPTION");
                opt.setAttribute("value", catfromscala[key].catid);
                var text = document.createTextNode(catfromscala[key].catname);
                opt.appendChild(text);
                catSel.appendChild(opt);
            }
        }
</script>

@main(titre: String)(user) {
    <body onload="displayExpenseByCat();displayExpenseOverall()"><div ><h3>Statistiques</h3></div>
    <div>
        <div class="row">
            <div class="col-md col-lg-6 border shadow-lg p-4 mb-4 home-row">
                <div style="height: 100px">
                    <div class="div-centered-panel"><h5>Overall expenses</h5></div>
                </div>
                <canvas id="myChart" height="200px"></canvas>
                <br><br>
                <div class="div-centered-panel"><h5>12 last months</h5></div>
                <canvas id="chLine" height="100px"></canvas>
            </div>

            <div class="col-md col-lg-6 border shadow-lg p-4 mb-4 home-row">
                <div style="height: 100px">
                    <div class="div-centered-panel"><h5>Expenses by categorie</h5></div>
                    <select  id="catSelStats" name="categorie" class="form-control" onchange="displayExpenseByCat();">
                        <option value="0" selected>Choose...</option>
                        <script type = "text/javascript">displayCatStats()</script>
                    </select>
                </div>
                <canvas id="myChart2" height="200px"></canvas>
                <br><br>
                <div class="div-centered-panel"><h5>12 last months</h5></div>
                <canvas id="chLine2" height="100px"></canvas>
            </div>
        </div>
    </div>
}
